<div class="container">
  <div class="chat-bot">
    <h1>Text to Music App</h1>
    <div class="chat-container">
      <div *ngFor="let message of chatMessages" [ngClass]="message.role">
        <div *ngIf="message.type == 'audio'" class="message-container">
          <audio controls>
            <source [src]="message.content" type="audio/wav">
            Your browser does not support the audio element.
          </audio>
          <a href="{{ message.content }}" [download]="message.content">
            Download
          </a>
        </div>
        <p *ngIf="message.type != 'audio'">{{ message.content }}</p>
      </div>
      <ngx-loading
        [show]="loading"
        [config]="{ backdropBorderRadius: '3px' }"
      ></ngx-loading>
    </div>

    <div class="input-container">
      <input [(ngModel)]="userMessage" (keydown.enter)="sendMessage()" placeholder="Enter your message" />
      <button (click)="sendMessage()">
        <img ngSrc="assets/send.svg" alt="send-img" height="24" width="24"/>
      </button>
    </div>
  </div>
</div>
